@media (min-width: 992px) and (max-width: 1169px) {
 
    
    
    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul.navbar-nav li a {
    padding: 34px 5px;
}
.slide-left .slide-hamburger {
    left: 13px;
}
.intro-content h1 {
    font-size: 32px;
    line-height: 40px;
}
.intro-default .slide-content {
    margin-top: -60px;
}
.intro-area-8 .slide-content {
 margin-top: -100px;
}
.fun_text > h5 {
    font-size: 14px;
}
.table-list{
    margin-bottom: 20px;
}
.single-contact a {
    font-size: 15px;
}
.project-name ul li {
    font-size: 17px;
}
.project-details {
    margin-bottom: 30px;
}
.portfolio-4-column .portfolio-single {
    width: 33.33%;
    float: left;
}    
    
    
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
    
.logo {
  height: inherit;
  left: 0;
  padding: 0;
  position: absolute;
  top: 1px;
  z-index: 999999;
}
.logo a {
    padding: 0;
}
 .slider-img img.slide-img {
    height: 100%;
    min-height: 300px;
    width: 100%;
}
.intro-content h1 {
    font-size: 24px;
    line-height: 30px;
}
.intro-content p {
    font-size: 16px;
    padding: 0px 20px;
}
.intro-left .intro-content p {
    padding-left:0px;
    max-width: 350px;
}
.intro-default .slide-content {
    margin-top: -100px;
}
.slide-content p br {
    display: none;
}
.intro-area-5 .intro-content p {
    font-size: 16px;
}
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-prev,
.intro-carousel.owl-carousel.owl-theme .owl-controls .owl-nav div.owl-next{
    display: none !important;
}   
.portfolio-single {
    width: 100% !important;
    float: none;
}
.single-footer{
   padding: 10px 0px;
}
.copyright{
    margin-bottom: 20px;
}
.copyright p {
    text-align: center;
}
.footer-social.text-right {
    text-align: center;
}
.footer-inner {
    margin-top: 30px;
} 
.about-image,
.skill-area .single-services,
.video-inner,
.single-member{
    margin-bottom: 30px;
}
.fun_text {
    float: none;
    width: 100%;
    margin-bottom: 30px;
}
.blog-details .left-head-blog {
    margin-top: 30px;
}    
.contact-head {
    margin-bottom: 30px;
}
.contact-details {
    padding: 40px 10px;
}
.single-contact {
    margin-bottom: 30px;
}
.single-contact a {
    font-size: 16px;
}
.project-name ul li {
    font-size: 15px;
}
.project-history {
    padding: 50px 15px;
}
.project-name span {
    padding-right: 10px;
    min-width: 100px;
}
.project-details{
    margin-bottom: 30px;
}
    
.table-list {
    margin-bottom: 30px;
}
.banner-content h4 {
    font-size: 17px;
}
.banner-contact span {
    font-size: 14px;
    margin-right: 10px;
}
.banner-btn {
    float: none;
    margin-top: 30px;
}
    
    

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}   
    
    
    
	
}
 
